<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <!-- Command to open Sitecore Desktop applications from Dashboard (ASPX page) -->
      <command name="appshortcut:open" type="Sitecore.Dashboard.Commands.OpenApplicationShortcut, Sitecore.Dashboard" />
    </commands>
    <pipelines>
      <initialize>
        <!-- Register Web API and SignalR routes -->
        <processor type="Sitecore.Dashboard.Pipelines.Initialize.InitializeRoutes, Sitecore.Dashboard" />
      </initialize>
      <httpRequestBegin>
        <!-- Allow ASP.NET to process Web API and SignalR requests -->
        <processor type="Sitecore.Dashboard.Pipelines.HttpRequestBegin.TransferRoutedRequest, Sitecore.Dashboard" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
      <job>
        <!-- Raise job started and ended events -->
        <processor patch:after="processor[@method='SignalStart']"
          type="Sitecore.Dashboard.Pipelines.Jobs.JobRunner, Sitecore.Dashboard" method="RaiseJobStartedEvent" static="true" />
        <processor patch:after="processor[@method='SignalEnd']"
          type="Sitecore.Dashboard.Pipelines.Jobs.JobRunner, Sitecore.Dashboard" method="RaiseJobEndedEvent" static="true" />
      </job>
    </pipelines>
    <processors>
      <!-- Raise loggedIn and logout events, as these are not triggered out-of-the-box
           (see http://sdn.sitecore.net/Forum/ShowPost.aspx?pageindex=1&postid=17241)
      -->
      <loggedin>
        <processor patch:after="processor[@type='Sitecore.Pipelines.LoggedIn.CleanupUserProfile, Sitecore.Kernel']"
          type="Sitecore.Dashboard.Pipelines.LoggedIn.RaiseLoggedInEvent, Sitecore.Dashboard" />
      </loggedin>
      <logout>
        <processor patch:after="processor[@type='Sitecore.Pipelines.Logout.GotoLogin, Sitecore.Kernel']"
          type="Sitecore.Dashboard.Pipelines.Logout.RaiseLogoutEvent, Sitecore.Dashboard" />
      </logout>
    </processors>
    <events>
      <!-- Assign EventNotifier handler to all dashboard events -->
      <event name="security:loggedIn">
        <handler type="Sitecore.Dashboard.Events.EventNotifier, Sitecore.Dashboard" method="OnDashboardEventRaised" static="true" />
      </event>
      <event name="security:loggedOut">
        <handler patch:after="processor[@type='Sitecore.Sites.SiteContext, Sitecore.Kernel']"
          type="Sitecore.Dashboard.Events.EventNotifier, Sitecore.Dashboard" method="OnDashboardEventRaised" static="true"/>
      </event>
      <event name="job:started">
        <handler type="Sitecore.Dashboard.Events.EventNotifier, Sitecore.Dashboard" method="OnDashboardEventRaised" static="true"/>
      </event>
      <event name="job:ended">
        <handler type="Sitecore.Dashboard.Events.EventNotifier, Sitecore.Dashboard" method="OnDashboardEventRaised" static="true"/>
      </event>
    </events>
    <settings>
      <!-- Name of the default dashboard theme item in the core database -->
      <setting name="Dashboard.DefaultTheme" value="Default" />
      <!-- Name of the default dashboard config item in the core database -->
      <setting name="Dashboard.DefaultDashboard" value="Standard" />
      <!-- Enable or disable real-time updates. If disabled, user will need to manually refresh the dashboard view. -->
      <setting name="Dashboard.EnableLiveUpdates" value="true" />
    </settings>
  </sitecore>
</configuration>
